
 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:0;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #02111b;
}

.linkedin {
  background: #5d737e;
  color: #fcfcfc;
}

.github {
  background: #5d737e;
  color: #fcfcfc;
}

.instagram {
  background: #5d737e;
  color: #fcfcfc;
}

.whatsapp {
  background: #5d737e;
  color: #fcfcfc;
}

.email {
  background: #5d737e;
  color: #fcfcfc;
}



/*@media screen and (max-width: 1024px) {*/


@media screen and (max-width: 530px) {
	.icon-bar {
		display: flex;
		position:relative;
		justify-content: center;
		align-items: center;
		bottom:30px;
	}
}
